<div class="card teamCard mx-2" style="width: 18rem;">
  <a href="/blogs/{{id}}">
  </a>
  <div class="card-body">
    <p class="card-title text-center font-weight-bold">{{blog.title}}</p>
        <p class="card-body text-center font-weight-bold">{{blog.blog_text}}</p>
  </div>
</div>