<div class="card">
    {{#if blogs.length}}
    <h1>My Blogs:</h1>

    {{#each blogs as |blog|}}
    <a href="/blogs/{{blog.id}}">
        <h1 class="blog-title btitle">{{blog.title}}</h1>
    </a>
    <p>{{blog.blog_text}}</p>

    {{/each}}
    {{else}}
    <h1>No blogs to show</h1>
    <button id="create-btn">Create New Post</button>
    {{/if}}
</div>
    <hr></hr>
    <button class="login100-form-btn" id="create-btn">Create New Post</button>

<form class="blog-form" style="display: none">
    <div class="form-group">
            <label >Title:

        <input type="text" id="title" class="input new-blog mb-2">
    </label>
    </div>
    <div class="form-group">
          <label>
        Content:
        <textarea type="text" id="blog-text" class="input"></textarea>
    </label>  
    </div>


        <input type="submit">
</form>
{{!-- 
<form class="blog-form" style="display: none;">
  <div class="form-group">
    <label type="text" id="title" class="input">Blog Title</label>
    <input type="text" class="form-control input" id="title" placeholder="Blog title">
  </div>
  <div class="form-group">
    <label>Blog Content</label>
    <textarea type="text" class="form-control" id="blog-text" placeholder="Blog Content">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> --}}
<script src="/js/createBlog.js"></script>