<div class="container">
  <div class="row">
    <div class="signup-form">
      <div>
        <div class="wrap-login100">

          <form class="signup-form">
            <span class="login100-form-title">
              Register
            </span>

            <div class="wrap-input100">
              <input
                class="input100"
                type="text"
                name="name"
                placeholder="name"
                id="name-signup"
              />
            </div>

            <div class="wrap-input100">
              <input
                class="input100"
                type="text"
                name="email"
                placeholder="email"
                id="email-signup"
              />
            </div>

            <div class="wrap-input100">
              <input
                class="input100"
                type="password"
                name="pass"
                placeholder="password"
                id="password-signup"
              />
            </div>

            <div class="container-login100-form-btn">
              <button type="submit" class="login100-form-btn mb-4">
                Register
              </button>
            </div>
            <a href="/login">Login</a>
          </form>

        </div>
      </div>
    </div>

  </div>
</div>

<script src="/js/register.js"></script>
