:root {
    --primary: #3d5852;
    --secondary: #86938f;
    --tertiary: #5e877f;
    --quatrinary: #6c6b67;
    --light: #e3e4e3;
    --dark: #182c23;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
    --lighter: #E9EEDB;
    --white: #FFFFFF
  }

  .navbar-custom {
    background-color: var(--secondary);
    border-top: solid black;
    padding:.5em;
    color: var(--light) !important;
    
  }

  header {
    background-color: var(--quatrinary);
    padding:.5em;
    border-bottom: solid black;
    color: white;
    font-weight: 700;
  }

  a {
    text-decoration: none;
    color: var(--white) !important;
    text-decoration: none !important;
  }

  .bbody {
    background-color: var(--light);
  }
  .btitle {
    background-color: var(--tertiary);
    color: var(--white);
  }

  .card {
    background-color: var(--lighter) !important;
  }

  /*----------------------------------------------------------------*/
  .login100-form {
    width: 50vw;
  }

  
  .login100-form-title {
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
  
    width: 100%;
    display: block;
    padding-bottom: 54px;
  }
  
  /*---------------------------------------------*/
  .wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
  }
  
  .input100 {
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
  
    display: block;
    width: 100%;
    background: var(--light);
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
  }
  
  /*----------------------------------------------------------------*/
  
  .login100-form-btn {
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
  
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--primary);
    padding: 0 25px;
  }
  
  .login100-form-btn:hover {
    background: var(--dark);
  }

  .comment-form-btn {
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    display: block;
    border-radius: 10px;
    background: var(--tertiary);
    padding: 0 25px;
    margin: 5px;
  }